.eventUser{
  padding: 50px 0 50px 0;
}
.eventUserCard{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.eventInfo{
  width:960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.eventTitle{
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}
