.mainPrivateUser {
  padding: 50px 0 50px 0;
  background-color: #63d8e2;
}
.privateWrapper {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
}
.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  margin-right: 90px;
}
.privateImg {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}
.privateImgBtn {
  padding: 5px 15px;
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #627fb8 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(149, 169, 207, 0.35);
  transition: 0.5s;
}
.privateImgBtn:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.userTextWrapper {
  padding: 5px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  border: 15px solid white;
  width: 70%;
}
.userTextTitle {
  margin: 0;
  font-size: 37px;
  margin-bottom: 30px;
}
.userTextBlockList {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.userTextBlockItem {
  margin: 0;
  width: 50%;
}
